.pio/build/project.checksum
.pio/build/esp32doit-devkit-v1/.sconsign37.db.dblite
.pio/build/esp32doit-devkit-v1/firmware.bin
.pio/build/esp32doit-devkit-v1/firmware.elf
.pio/build/esp32doit-devkit-v1/libFrameworkArduino.a
.pio/build/esp32doit-devkit-v1/libFrameworkArduinoVariant.a
.pio/build/esp32doit-devkit-v1/longcmd-58fd33dcf7a6764eddfad35018b3c01c
.pio/build/esp32doit-devkit-v1/longcmd-954eac8c2dae05b965dcd5f1253ed9cb
.pio/build/esp32doit-devkit-v1/longcmd-a3255fc2d23a9cc76860077e17b2ffba
.pio/build/esp32doit-devkit-v1/partitions.bin
.pio/build/esp32doit-devkit-v1/spiffs.bin
.pio/build/esp32doit-devkit-v1/FrameworkArduino/base64.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/cbuf.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/Esp.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-adc.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-bt.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-cpu.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-dac.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-gpio.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-i2c.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-ledc.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-matrix.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-misc.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-psram.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-rmt.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-sigmadelta.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-spi.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-time.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-timer.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-touch.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/esp32-hal-uart.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/FunctionalInterrupt.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/HardwareSerial.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/IPAddress.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/IPv6Address.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/main.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/MD5Builder.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/Print.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/stdlib_noniso.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/Stream.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/StreamString.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/wiring_pulse.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/wiring_shift.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/WMath.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/WString.cpp.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/libb64/cdecode.c.o
.pio/build/esp32doit-devkit-v1/FrameworkArduino/libb64/cencode.c.o
.pio/build/esp32doit-devkit-v1/lib03b/libAsyncTCP.a
.pio/build/esp32doit-devkit-v1/lib03b/AsyncTCP/AsyncTCP.cpp.o
.pio/build/esp32doit-devkit-v1/lib153/libEEPROM.a
.pio/build/esp32doit-devkit-v1/lib153/EEPROM/EEPROM.cpp.o
.pio/build/esp32doit-devkit-v1/lib4ae/libWebServer.a
.pio/build/esp32doit-devkit-v1/lib4ae/WebServer/Parsing.cpp.o
.pio/build/esp32doit-devkit-v1/lib4ae/WebServer/WebServer.cpp.o
.pio/build/esp32doit-devkit-v1/lib4ae/WebServer/detail/mimetable.cpp.o
.pio/build/esp32doit-devkit-v1/lib4b5/libFS.a
.pio/build/esp32doit-devkit-v1/lib4b5/FS/FS.cpp.o
.pio/build/esp32doit-devkit-v1/lib4b5/FS/vfs_api.cpp.o
.pio/build/esp32doit-devkit-v1/lib5e2/libSPIFFS.a
.pio/build/esp32doit-devkit-v1/lib5e2/SPIFFS/SPIFFS.cpp.o
.pio/build/esp32doit-devkit-v1/lib972/libWiFi.a
.pio/build/esp32doit-devkit-v1/lib972/WiFi/ETH.cpp.o
.pio/build/esp32doit-devkit-v1/lib972/WiFi/WiFi.cpp.o
.pio/build/esp32doit-devkit-v1/lib972/WiFi/WiFiAP.cpp.o
.pio/build/esp32doit-devkit-v1/lib972/WiFi/WiFiClient.cpp.o
.pio/build/esp32doit-devkit-v1/lib972/WiFi/WiFiGeneric.cpp.o
.pio/build/esp32doit-devkit-v1/lib972/WiFi/WiFiMulti.cpp.o
.pio/build/esp32doit-devkit-v1/lib972/WiFi/WiFiScan.cpp.o
.pio/build/esp32doit-devkit-v1/lib972/WiFi/WiFiServer.cpp.o
.pio/build/esp32doit-devkit-v1/lib972/WiFi/WiFiSTA.cpp.o
.pio/build/esp32doit-devkit-v1/lib972/WiFi/WiFiUdp.cpp.o
.pio/build/esp32doit-devkit-v1/lib99d/FastLED_ID126/bitswap.cpp.o
.pio/build/esp32doit-devkit-v1/lib99d/FastLED_ID126/colorpalettes.cpp.o
.pio/build/esp32doit-devkit-v1/lib99d/FastLED_ID126/colorutils.cpp.o
.pio/build/esp32doit-devkit-v1/lib99d/FastLED_ID126/FastLED.cpp.o
.pio/build/esp32doit-devkit-v1/lib99d/FastLED_ID126/hsv2rgb.cpp.o
.pio/build/esp32doit-devkit-v1/lib99d/FastLED_ID126/lib8tion.cpp.o
.pio/build/esp32doit-devkit-v1/lib99d/FastLED_ID126/noise.cpp.o
.pio/build/esp32doit-devkit-v1/lib99d/FastLED_ID126/platforms.cpp.o
.pio/build/esp32doit-devkit-v1/lib99d/FastLED_ID126/power_mgt.cpp.o
.pio/build/esp32doit-devkit-v1/lib99d/FastLED_ID126/wiring.cpp.o
.pio/build/esp32doit-devkit-v1/libc0c/libSPI.a
.pio/build/esp32doit-devkit-v1/libc0c/SPI/SPI.cpp.o
.pio/build/esp32doit-devkit-v1/libe23/libESP Async WebServer.a
.pio/build/esp32doit-devkit-v1/libe23/ESP Async WebServer/AsyncEventSource.cpp.o
.pio/build/esp32doit-devkit-v1/libe23/ESP Async WebServer/AsyncWebSocket.cpp.o
.pio/build/esp32doit-devkit-v1/libe23/ESP Async WebServer/SPIFFSEditor.cpp.o
.pio/build/esp32doit-devkit-v1/libe23/ESP Async WebServer/WebAuthentication.cpp.o
.pio/build/esp32doit-devkit-v1/libe23/ESP Async WebServer/WebHandlers.cpp.o
.pio/build/esp32doit-devkit-v1/libe23/ESP Async WebServer/WebRequest.cpp.o
.pio/build/esp32doit-devkit-v1/libe23/ESP Async WebServer/WebResponses.cpp.o
.pio/build/esp32doit-devkit-v1/libe23/ESP Async WebServer/WebServer.cpp.o
.pio/build/esp32doit-devkit-v1/src/api.cpp.o
.pio/build/esp32doit-devkit-v1/src/eeprom_func.cpp.o
.pio/build/esp32doit-devkit-v1/src/filesystem.cpp.o
.pio/build/esp32doit-devkit-v1/src/main.cpp.o
.pio/build/esp32doit-devkit-v1/src/programs.cpp.o
.pio/build/esp32doit-devkit-v1/src/state.cpp.o
.pio/build/esp32doit-devkit-v1/src/strands.cpp.o
.vscode/c_cpp_properties.json
.pio/build/project.checksum
